:root {
  --linear-gradient: linear-gradient(90deg, #672280, #a626d3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
.App {
  width: 550px;
  height: 650px;
  background-color: white;
  border-radius: 10px;
}
header {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 65px;
  padding: 10px;
  color: white;
  background: var(--linear-gradient);
  border-radius: 10px 10px 0 0;
}
.troll {
  height: 30px;
}
h1 {
  font-size: 1.4rem;
}
.content {
  padding: 40px;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
input {
  width: 45%;
  height: 40px;
  border-radius: 7px;
  border: 2px solid #d5d4d8;
  font-size: 1.1rem;
  padding: 0 5px;
}
button {
  width: 100%;
  height: 40px;
  border: none;
  background: var(--linear-gradient);
  color: white;
  font-size: 1.2rem;
  border-radius: 7px;
}
.memeImg {
  max-height: 400px;
  width: 100%;
}
.memeContainer {
  margin-top: 20px;
  position: relative;
}
.top,
.bottom {
  position: absolute;
  left: 50%;
  color: white;
  font-size: 2rem;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.top {
  top: 10px;
}
.bottom {
  bottom: 10px;
}
